* {
    border: 1px solid black;
    box-sizing: border-box;
}
body {
    background-color: #fdfdfd;
}
header {
    position: relative;
    display: inline-block;
    width: 40%
}
h5 {
    font-family: papyrus;
    position: relative;
    width: 100%
}
h2 {
    display: inline-block;
    box-sizing: border-box;
    font-weight: bold;
    font-family: papyrus;
    position: relative;
    top: -50px;
    width: 100%
}
nav {
    float: right;
    width: 55%
}
li {
    list-style-type: none;
    font-family: garamond;
    display: inline-block;
    letter-spacing: 0.1em;
}
main {
    background-color: #fdfdfd;
    font-family: garamond;
    width: 80%; 
    display: inline-block;
    position: relative;
}
.container {
    float: right;
    height: 100px
    width: 50px    
}
.container img {
    width: auto;
    height: 100px;
}