* {
	font-family: Verdana;
}
.left {
	float: left;
	font-size: 30px;
}
.right {
	float: right;
	font-size: 15px;
}
#small {
	font-size: 12px;
}
.border {
	border-bottom: 1px solid black;
	clear: both;
}
