* {
    box-sizing: border-box;
}
body {
    background-color: #fdfdfd;
}
header {
    margin-bottom: 0px;
    position: relative;
    display: inline-block;
    width: 40%
}
h5 {
    font-family: papyrus;
    position: relative;
    width: 100%
}
h2 {
    display: inline-block;
    box-sizing: border-box;
    font-weight: bold;
    font-family: papyrus;
    position: relative;
    top: -45px;
    width: 100%
}
nav {
    float: right;
    width: 55%
}
li {
    list-style-type: none;
    font-family: garamond;
    display: inline-block;
    letter-spacing: 0.1em;
}
main {
    margin-top: -50px;
    background-color: #fdfdfd;
    font-family: garamond;
    width: 80%; 
    display: inline-block;
    position: relative;
}
.foot_container {
    display: inline-block;
    top: -50px;
    float: right;
    height: 42px
    width: 80px    
}
.foot_container img {
    width: auto;
    height: 42px;
}
footer p {
    display: inline-block;
    width: 40%;
}
#border_top {
    position: relative;
    top: 5px;
    border: 1px solid black;
}
#border_bot {
    position: relative;
    top: -5px;
    border: 1px solid black;
}