* {
    box-sizing: border-box;
}
html {
    display: table;
    margin: auto;
}
body {
    position: relative;
    display: table-cell;
    height: 650px; 
    width: 650px;
    overflow: auto;
    background: url(https://raw.githubusercontent.com/nick-brown2014/nick-brown2014.github.io/master/blog-posts/imgs/StickNickTree2.png) no-repeat center center;
    background-size: auto 100%;
}
nav p a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#about {
    position: absolute;
    top: 5%;
    left: 17%;
    font-size: 1em;
}
#blog {
    position: absolute;
    top: 17%;
    left: 55%;
    font-size: 1em;
}
#projects {
    position: absolute;
    top: 33%;
    left: 25%;
    font-size: 1em;
}
h1 {
    position: absolute;
    top: 47%;
    left: 33%;
    font-size: 1.75em;
}
h6 {
    position: absolute;
    top: 51%;
    left: 37%;
    font-size: 0.8em;
}
.nav_image {
    border: 1px solid black;
    height: 42px;
    width: auto;
}
#twitter {
    width: 50px;
    heigth: auto;
    position: absolute;
    top: 32%;
    left: 65%;
}
#facebook {
    width: 42px;
    heigth: auto;
    position: absolute;
    top: 38%;
    left: 59%;
}
#github {
    width: 42px;
    heigth: auto;
    position: absolute;
    top: 40%;
    left: 66%;
}
#email {
    width: 42px;
    heigth: auto;
    position: absolute;
    top: 29%;
    left: 79%;
}
#prof_pic {
    width: 150px;
    height: auto;
    position: absolute;
    top: 68%;
    left: 10%;
}